{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@styles": "./styles",
          "@utils": "./utils"
        }
      }
    ],
    ["babel-plugin-styled-components"],
    ["polished"]
  ]
}
